#title{
    font-size: 60px;
    font-style:italic;
    text-align:center;
}

#demo {
    border:none;
    color:white;
    position:relative;
    left:300px;
}
#mapholder {
    position;relative;
    padding:200px 100px;
    left:20px;
}
button{
    position: relative;
    left:550px;
    font-size:15px;
    padding:10px 10px;
    font-style:italic;
    bottom:50px;
}
#a1{
    color: white;
    font-size: 40;
    font-style:italic;
    position:relative;
    left :30px;
    padding:10px 10px;
}
p31{
    color: white;
    font-size: 40;
    font-style:italic;
    position:relative;
    left :30px;
    padding:10px 10px;

}
p41{
    color: white;
    font-size: 40;
    font-style:italic;
    position:relative;
    left :30px;
    padding:10px 10px;

}
p51{
    color: white;
    font-size: 40;
    font-style:italic;
    position:relative;
    left :30px;
    padding:10px 10px;
}
body{
    overflow:none;
    background: url("123.jpg") no-repeat center center fixed;
    background-size: cover;
    font-style:italic;
    color: white;
    font-size:40px;
    position:relative;
    left:50px;
}

h2{
    font-style:italic;
    font-size: 60px;
    text-align: center;
    color: white;
    position:relative;
}
p3{
    position:relative;
    color :white;
    left:20px;
    font-size:40px;
}

p4{
    position:relative;
    color :white;
    font-size:40px;
    left:20px;
}

p5{
    position:relative;
    color :white;
    font-size:40px;
    left:20px;
}
