{% load static %}
<html>
    <head>
        <title>Geography Information Application</title>
        <meta charset="utf-8">
            <link rel="stylesheet" href="{% static 'source/style.css' %}">
                </head>
    <body>
        <h2>Geography Information</h2>
        <p3>Click here to see where you are</p3>
        <p31><br><a href="{% static 'myapp.html' %}"><input name="click" type="button" "id=btn1" title"click" value="click"></a></p31>
        <p4><br>Click here to check the current weather</p4>
        <p41><br><a href="{% static 'index.html' %}"><input name="click" type="button" "id=btn2" title"click" value="click"></a></p41>
        <p5><br>Click here to search the location</p5>
        <p51><br><a href="{% static 'map.html' %}"><input name="click" type="button" "id=btn3" title"click" value="click"></a></p51>


    </body>
</html>
